
.Head{
    border: 2px solid Black;
    /* background-color: black; */
    height: 100vh;
    text-align: center;
    margin: 0;
    font-size: 12px;
}

.Head > p,strong{
    color: white;
    cursor: pointer;
}

.sliderpic> img{
    /* width: 90%; */
    height: 660px;

}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
    gap: 20px; /* Gap between grid items */
    padding: 20px; /* Padding for the grid container */
    
  }

  /* Product item styles */
  .product-item {
    /* border: 2px solid red; */
    background-color: #ffffff; /* Background color of each product item */
    padding: 5px; /* Padding for each product item */
    border-radius: 10px; /* Rounded corners for each product item */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Box shadow for each product item */
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  .product-item>img{
    width: 100%;
    padding-top: -15px;
  }




  .Showoff_section{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
    
    
  }


  .showoff{
    border: 2px solid orange;
    height: 80% ;
    width: auto;
    margin: auto;
    padding: 5px;
  }

  .showoff > img{
    width: auto;
    height: 100%;
  }


  .category-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
    gap: 20px; /* Gap between grid items */
    padding: 20px; /* Padding for the grid container */
  }

  /* Category item styles */
  .category-item {
    background-color: #ffffff; /* Background color of each category item */
    padding: auto;
    border-radius: 10px; /* Rounded corners for each category item */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Box shadow for each category item */
  }

  .category-item > img{
    width: 70%;
    height: 70%;
  }

  .category-item > p{
    text-align: center;
    margin-left: -30px;
  }


  discountoff{
    text-align: center;
  }


  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2,1fr);
      display: flex;
      flex-direction: column;
      
      align-items: center;
      align-self: center;
      
    }
    .product-item {
      /* border: 2px solid red; */
      background-color: #ffffff; /* Background color of each product item */
      padding: 5px; /* Padding for each product item */
      border-radius: 10px; /* Rounded corners for each product item */
      /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Box shadow for each product item */
      cursor: pointer;
      height: auto;
      width: 300px;
    }
  
    .product-item>img{
      width: 300px;
      height: 280px;
      padding-top: -15px;
    }

    .category-container {
      grid-template-columns: repeat(2,1fr); 
      align-items: center;
      align-self: center;
      margin-left:30px;
    }

    .Showoff_section{
      /* border: 2px solid red; */
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px; /* Gap between grid items */
      padding: 10px; /* Padding for the grid container */
      
      
    }

    
  
  }

