/* General Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: white;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #535252;
}

.navbar__logo {
  flex: 1;
  text-align: center;
}

.navbar__logo__pic {
  width: 20%;
  margin: 10px;
}

.navbar__icon-btn {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
}

.navbar__button {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.Category {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  margin: 10px;
  gap: 35px;
  justify-content: center;
  flex-wrap: wrap;
}

.Category > p {
  font-size: 15px;
  position: relative;
  cursor: pointer;
  margin: 5px 0;
  overflow: hidden;
}

.Category p::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.Category p:hover::after {
  transform: translateX(0%);
}

/* Hamburger and mobile menu */
.hamburger {
  font-size: 24px;
  display: none; /* Hidden on large screens */
}

.navbar__menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: 60px;
  background-color: #ffffff;
  width: 250px;
  padding: 15px;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.navbar__menu.open {
  display: flex;
  transform: translateX(0%);
}

.navbar__menu .Category {
  flex-direction: column;
}

.navbar__actions {
  display: flex;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .navbar__logo__pic {
    width: 70%;
    margin: 0;
  }

  .Category.large-screen {
    display: none;
  }

  .hamburger {
    display: block; /* Show on small screens */
  }

  .navbar__actions {
    display: none; /* Hide buttons on small screens */
  }

  .navbar__menu {
    display: flex;
  }
}

@media (max-width: 550px) {
  .navbar__logo {
    margin-top: 12px;
  }

  .Category {
    display: none; /* Hide category on smaller screens */
  }
}
